<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mainactivity.usbhost"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--<uses-sdk-->
        <!--android:minSdkVersion="16"-->
        <!--android:targetSdkVersion="18" />-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
    <uses-permission android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mainactivity.usbhost.NoloVrAndroidDemo2"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"             
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            >  <!--             android:allowTaskReparenting="true"
            android:taskAffinity="xxTaskName" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
              <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>                
              </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
          
        </activity>
    </application>

</manifest>
